---
import TwitchSVG from "./TwitchSVG.astro";
import LinkedInSVG from "./LinkedInSVG.astro";
import GithubSVG from "./GithubSVG.astro";
const size = "1.25rem";
const color = "";
---

<footer
  class="flex w-full place-content-center gap-20 flex-wrap mt-20 overflow-hidden"
>
  <article class="flex flex-col max-w-xs">
    <h3 class="mb-1 text-lg italic font-semibold">Christian Villegas</h3>
    <a href="https://twitch.com/chrisvdev" target="_blank" rel="noopener noreferrer" class="flex justify-center content-center items-center my-1">
      <TwitchSVG size={size} className="fill-orange-400 " />
      <p class="ml-2">Chrisvdev</p>
    </a>
    <a href="https://www.linkedin.com/in/chrisvill2312/" target="_blank" rel="noopener noreferrer" class="flex justify-center content-center items-center my-1">
      <LinkedInSVG size={size} className="fill-orange-400 " />
      <p class="ml-2">/chrisvill2312</p>
    </a>
    <a href="https://github.com/chrisvill2312" target="_blank" rel="noopener noreferrer" class="flex justify-center content-center items-center my-1">
    <GithubSVG size={size} className="fill-orange-400 " />
    <p class="ml-2">/chrisvill2312</p>
</a>
</article>
<article class="flex flex-col max-w-xs">akdaposjdopasjdp</article>
  <article class="flex flex-col max-w-xs">
      <h3 class="mb-1 text-lg italic font-semibold">Miguel Angel Duran</h3>
    <a href="https://twitch.com/midudev" target="_blank" rel="noopener noreferrer" class="flex justify-center content-center items-center my-1">
      <TwitchSVG size={size} className="fill-orange-400 " />
      <p class="ml-2">Midudev</p>
    </a>
    <a href="https://www.linkedin.com/in/midudev/" target="_blank" rel="noopener noreferrer" class="flex justify-center content-center items-center my-1">
        <LinkedInSVG size={size} className="fill-orange-400 " />
        <p class="ml-2">/midudev</p>
    </a>
    <a href="https://github.com/midudev" target="_blank" rel="noopener noreferrer" class="flex justify-center content-center items-center my-1">
      <GithubSVG size={size} className="fill-orange-400 " />
      <p class="ml-2">/midudev</p>
    </a>
  </article>
</footer>
